/* FONTS */

@font-face {
  font-family: "CircularXXWebTrial-LightTrial";
  src: url("CircularXXWebTrial-LightTrial.woff") format("woff");
}

@font-face {
  font-family: "CircularXXWebTrial-RegularTrial";
  src: url("CircularXXWebTrial-RegularTrial.woff") format("woff");
}

@font-face {
  font-family: "HeymlandLLWebTrial-RegularTrial";
  src: url("HeymlandLLWebTrial-RegularTrial.woff") format("woff");
}

@font-face {
  font-family: "CircularXXWebTrial-MediumTrial";
  src: url("CircularXXWebTrial-MediumTrial.woff") format("woff");
}

@font-face {
  font-family: "CircularXXWebTrial-BoldTrial";
  src: url("CircularXXWebTrial-BoldTrial.woff") format("woff");
}

/* BASE */

body {
  font-family: "CircularXXWebTrial-ThinTrial", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  padding: 0;
  margin: 0;
  cursor: crosshair;
  background-color: black;
}

h1 {
  font-family: "HeymlandLLWebTrial-RegularTrial", sans-serif;
  font-size: 24px;
  font-weight: 1000px;
}

a {
  color: white;
}
iframe {
  padding: 8px;
}

main {
  padding: 0 1rem;
}

.navbar {
  position: fixed;
  background-color: black;
  left: 0;
  right: 0;
}

.container {
  /* max-width: 1650px;
  /* margin: auto;*/
  /* padding: 0 1rem; */
  /* display: flex; */
  justify-content: space-between;
  align-items: stretch;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 0 1rem;
  /*height: 100%; */
}

.navbar-logo img {
  width: auto;
  margin-top: 5px;
}

.navbar-menu {
  display: flex;
  font-size: 0.75rem;
}

.navbar-item {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
}
.navbar-item:hover {
  background-color: white;
  /*color: white; */
}

.hero {
  display: flex;
  align-items: center;
  text-align: left;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header {
  /* background-color: #2b2e41;
  color: white; */
  padding: 2rem 0;
}

.title {
  font-size: 64px;
  color: white;
  font-weight: 400;
}
.title.large {
  font-size: 1rem;
  color: white;
}

.intro {
  text-align: left;
}

.intro p {
  font-size: 1.25rem;
}

.intro p:not(:last-child) {
  margin-bottom: 2rem;
}

.button {
  display: inline-block;
  -webkit-appearance: none;
  text-decoration: none;
  background-color: black;
  border: 1px, solid red;
  border-radius: 999px;
  padding: 0.5rem 1.5rem;
  text-align: center;
  text-decoration: none;
  /* transition: all 100ms; */
}

.small {
  color: darkgrey;
  font-size: 12px;
}
.button2 {
  display: flex;
  /*-webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;*/
  -webkit-appearance: none;
  text-decoration: none;
  background-color: black;
  border: 1px solid white;
  color: white;
  border-radius: 999px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 10px;
}
.button2:hover {
  background-color: white;
  color: black;
  /* padding-left: 3rem;
  padding-right: 3rem; */
}

.button-grey {
  display: flex;
  /*-webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;*/
  -webkit-appearance: none;
  text-decoration: none;
  background-color: black;
  border: 1px solid darkgrey;
  color: darkgrey;
  border-radius: 999px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 10px;
  opacity: 50%;
}

a:active {
  color: red;
  background-color: black;
  border: 1px solid red;
}

.columns {
  margin: 1px;
}

.columns.multiline {
  flex-wrap: wrap;
}

.column {
  padding: 0rem;
  box-sizing: border-box;
}
.column1 {
  max-width: 20%;
  padding: 0rem;
  box-sizing: border-box;
}

.column2 {
  text-align: right;
  padding: 0rem;
  box-sizing: border-box;
}

.column.one-third {
  flex: 20% 0 0;
}

.column1.one-third {
  flex: 20% 0 0;
}

@media screen and (min-width: 800px) {
  .columns {
    display: flex;
  }

  .column {
    flex: 1;
  }
}

h3 {
  font-size: 26px;
  font-weight: 10px;
  color: white;
}

.image {
  text-align: center;
}

.project {
  padding: 0.5rem;
  color: white;
  font-size: 14px;
}

.project img {
  position: inherit;
  width: 100%;
  opacity: 100%;
  height: auto;
  -webkit-filter: blur(10px);
  filter: blur(10px);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.project img:hover {
  -webkit-filter: blur(0px);
  filter: blur(0px);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.project-caption {
  /* position absolute; */
  opacity: 30%;
  font-size: 14px;
  bottom: 0px;
  left: 0;
  height: 40px;
  width: 90%;
  color: #fff;
  -webkit-transition: all 0.9s ease-in;
  -moz-transition: all 0.9s ease-in;
  -o-transition: all 0.9s ease-in;
  transition: all 0.9s ease-in;
}
.project-caption:hover {
  display: flex;
  opacity: 1;
  font-size: 24px;
}

.caption {
  position: absolute;
}
.vignette {
  display: flex;
}

.image img {
  width: 100%;
  height: auto;
  max-width: 200px;
  margin-bottom: 1rem;
  border-radius: 0px;
}

.footer {
  /*position: absolute;*/
  background-color: black;
  color: white;
  padding: 3rem 0;
  list-style-type: none;
}

.footer a {
  color: white;
  text-decoration: none;
}

/* FORM */

#input-name,
#input-email,
#input-subject,
#input-message {
  display: flex;
  width: 30%;
  margin: 10px;
  font-size: 18px;
  font-family: Helvetica, sans-serif;
  box-decoration-break: none;
}

#input-message {
  margin: 17px;
}


.viz02 {
  display: flex;
  height: 100%;
  flex-direction: column;
  animation-name: viz;
  animation-duration: 4s;

}

/* -------------------------------------------------------------------------- */
/*                                   Hesham                                   */
/* -------------------------------------------------------------------------- */

.film {
  margin-left: 20px;
  color: black;
  height: 100%;
  display: flex;
  font-size: 30px;
}

.bar-chart {
  display: flex;
  justify-content: space-between;
  background-color: grey;
  transition: all 0.4s ease;
}

.counts {
  color: white;
}

.film:hover .bar-chart {
  background-color: red;
  color: white;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

input:checked + label {
  background-color: red;
}

/* ------------------------------ End of Hesham ----------------------------- */
/* -------------------------------------------------------------------------- */

/*             --------TREEMAP& DATA VIZ -------------            */

.canvas {
  width: 1920px;
  height: 900px;
}

.viz01 .node {
  /*padding-top: 50px;*/
  font-size: 230%;
  line-height: 150%;
  stroke: 2px;
  fill: red;
  overflow: hidden;
  position: absolute;
  text-indent: 1%;
  transition: background 1s;
  transition: color 0.5s;
  background-color: darkgrey;
}
.viz02 {
  padding-top: 10px;
}
.viz02 .node {
  padding: 20px;
  font-size: 235%;
  line-height: 150%;
  stroke: 2px;
  fill: red;
  overflow: hidden;
  /*position: absolute;*/
  text-indent: 1%;
  transition: background 1s;
  transition: color 0.5s;
  background-color: darkgrey;
  /* border 1px solid white; */
}

.viz01 .node:hover {
  background: red !important;
  color: white;
}

.viz02 .node:hover {
  background: red !important;
  color: white;
}

.pannel-options {
  padding-top: 20px;
}

.case-title {
  padding-top: 30px;
  padding-left: 10px;
  font-size: 36px;
  display: flex;
  color: white;
}
