/* -------------------------------------------------------------------------- */
/*                                    FONTS                                   */
/* -------------------------------------------------------------------------- */

@font-face {
  font-family: "CircularXXWebTrial-LightTrial";
  src: url("CircularXXWebTrial-LightTrial.woff") format("woff");
}

@font-face {
  font-family: "CircularXXWebTrial-RegularTrial";
  src: url("CircularXXWebTrial-RegularTrial.woff") format("woff");
}

@font-face {
  font-family: "HeymlandLLWebTrial-RegularTrial";
  src: url("HeymlandLLWebTrial-RegularTrial.woff") format("woff");
}

@font-face {
  font-family: "CircularXXWebTrial-MediumTrial";
  src: url("CircularXXWebTrial-MediumTrial.woff") format("woff");
}

@font-face {
  font-family: "CircularXXWebTrial-BoldTrial";
  src: url("CircularXXWebTrial-BoldTrial.woff") format("woff");
}

/* -------------------------------------------------------------------------- */
/*                                  VARIABLES                                 */
/* -------------------------------------------------------------------------- */
:root {
  --netflix-red: #e50914;
  --gray: #d0d0d0;
}


/* -------------------------------------------------------------------------- */
/*                                    BASE                                    */
/* -------------------------------------------------------------------------- */

* {
  box-sizing: border-box;
}

body {
  font-family: "CircularXXWebTrial-ThinTrial", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  padding: 0;
  margin: 0;
  background-color: black;
  color: white;
}

h1 {
  font-family: "HeymlandLLWebTrial-RegularTrial", sans-serif;
  font-size: 24px;
  font-weight: 1000px;
}

a {
  color: white;
}

/* main {
  padding: 0 1rem;
} */

.navbar {
  position: fixed;
  background-color: black;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  z-index: 1;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo a {
  display: flex;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.navbar-menu {
  display: flex;
  font-size: 0.75rem;
}

.navbar-item {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
}
.navbar-item:hover {
  background-color: white;
  color: black;
}

.title {
  font-size: 48px;
  color: white;
  font-weight: 400;
  width: 50%;
}

.subtitle {
  margin-top: 24px;
  margin-bottom: 24px;
  font-size: 28px;
  color: darkgrey;
  font-weight: 300;
}

.small {
  color: darkgrey;
  font-size: 12px;
}

.button2 {
  display: flex;
  text-decoration: none;
  background-color: black;
  border: 1px solid var(--netflix-red);
  color: var(--netflix-red);
  border-radius: 999px;
  padding: 15px 32px;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  font-size: 24px;
  margin: 10px;
  cursor: pointer;

}

.button2:hover {
  border-color: white;
  background-color: var(--netflix-red);
  color: white;
}

.button-grey {
  display: flex;
  -webkit-appearance: none;
  text-decoration: none;
  background-color: black;
  border: 1px solid darkgrey;
  color: darkgrey;
  border-radius: 999px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 10px;
  opacity: 50%;
}

/* a:active {
  color: red;
  background-color: black;
  border: 1px solid red;
} */

.columns {
  display: flex;
  padding: 0rem;
  box-sizing: border-box;
}

.column {
  flex-direction: column;
}

.flex {
  display: flex;
}

.grow {
  flex-grow: 1;
}

.project {
  padding: 0.5rem;
  color: white;
  font-size: 14px;
}

.project img {
  position: inherit;
  width: 100%;
  opacity: 100%;
  height: auto;
  filter: blur(10px);
  transition: 0.8s cubic-bezier(0.22, 1, 0.36, 1);
  will-change: filter;
}

/* .project img:hover {
  filter: blur(0px);
}

.project-caption:hover h2 {
  opacity: 1;
  transform: scale(1.4);
} */

.project:hover img {
  filter: blur(0px);
}
.project:hover .project-caption h2 {
  opacity: 1;
  transform: scale(1.4);
}


.project-caption {
  font-size: 14px;
  bottom: 0px;
  left: 0;
  height: 40px;
  width: 90%;
  color: #fff;
}

.project-caption h2 {
  transform-origin: 0% 0%;
  transition: all 0.9s cubic-bezier(0.22, 1, 0.36, 1);
  opacity: 30%;
}


.footer {
  background-color: black;
  color: white;
  padding: 3rem 0;
}

.footer a {
  color: white;
  text-decoration: none;
}

.hr-line {
  margin-bottom: 1px;
  border-top: 0.5px solid lightgrey;
  height: 0.5px;
  border-top: 1px solid lightgrey;
}

/* -------------------------------------------------------------------------- */
/*                                  p5 sketch                                 */
/* -------------------------------------------------------------------------- */

#myContainer {
  height: 32vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

#myContainer canvas {
  margin: auto;
  display: block;
}

/* -------------------------------------------------------------------------- */
/*                                   Hesham                                   */
/* -------------------------------------------------------------------------- */

.viz02 {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  animation-name: viz;
  animation-duration: 4s;
  flex-grow: 1;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.film {
  display: flex;
  align-items: center;
  color: black;
  height: 100%;
  font-size: 30px;
  align-self: stretch;
}

.film + .film {
  margin-top: 20px;
}

.bar-chart {
  display: flex;
  height: 100%;
  overflow: hidden;
  white-space: nowrap;
  justify-content: space-between;
  background-color: var(--gray);
  transition: all 0.4s ease;
  align-items: center;
  padding: 0 20px;
  animation: progress-bar 2s cubic-bezier(0.22, 1, 0.36, 1) backwards,
    text-in 0.5s cubic-bezier(0.22, 1, 0.36, 1) backwards;
  border-radius: 4px;
}

.x-unit {
  margin-left: 4px;
}

@keyframes progress-bar {
  0% {
    width: 0;
    padding: 0;
  }
  20% {
    padding: 0 20px;
  }
}

@keyframes text-in {
  0% {
    transform: translateX(-60px);
  }
}

.film:nth-child(1) .bar-chart,
.film:nth-child(1) .counts {
  animation-delay: 0s;
}
.film:nth-child(2) .bar-chart,
.film:nth-child(2) .counts {
  animation-delay: 0.1s;
}
.film:nth-child(3) .bar-chart,
.film:nth-child(3) .counts {
  animation-delay: 0.2s;
}
.film:nth-child(4) .bar-chart,
.film:nth-child(4) .counts {
  animation-delay: 0.4s;
}
.film:nth-child(5) .bar-chart,
.film:nth-child(5) .counts {
  animation-delay: 0.6s;
}

.counts {
  color: var(--gray);
  font-weight: bold;
  padding: 0 20px;
  animation: text-color 0.5s ease backwards;
  font-size: 3.5rem;
}

.film-title {
  color: #302628;
  transition: all 0.4s ease;
  font-size: 1.2em;
  flex-shrink: 2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.data-element {
  float: right;
  color: var(--netflix-red);
  font-size: 3vw;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.4s ease;
}

@keyframes text-color {
  0% {
    color: rgba(0, 0, 0, 0);
  }
}

.film:hover .bar-chart {
  background-color: var(--netflix-red);
  color: white;
}

.film:hover .data-element, .film:hover .film-title {
  color: white;
}

html,
body {
  height: 100%;
}

.case-page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

input:checked + label {
  color: white;
  border-color: white;
  background-color: var(--netflix-red);
}

/**
 * Arrow
 */

.arrow-container {
  margin-top: 30px;
  font-size: 24px;
  color: var(--gray);
}

.arrow-tag {
  text-align: center;
  animation: arrow-tag-appear 0.5s 1.8s cubic-bezier(0.22, 1, 0.36, 1) backwards;
}

.arrow {
  /* width:120px; */
  /* margin:50px auto; */
  display: flex;
  align-items: center;
  overflow: hidden;
  animation: arrow-grow 2s 2s cubic-bezier(0.22, 1, 0.36, 1) backwards;
}

.line {
  margin-top: 0px;
  width: 100%;
  background: var(--gray);
  height: 3px;
  
}
.point {
  width: 0px;
  height: 0px;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 15px solid var(--gray);
}

@keyframes arrow-tag-appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes arrow-grow {
  0% {
    width:0%;
  }
  100% {
    width:100%;
  }
}

/* ------------------------------ End of Hesham ----------------------------- */
/* -------------------------------------------------------------------------- */

/*             --------TREEMAP& DATA VIZ -------------            */

.case-title {
  margin-top: 54px;
  font-size: 36px;
  color: white;
  margin-bottom: 30px;
}

.case-first-line {
  font-size: 3rem;
  font-weight: bold;
}

.viz-container {
  margin-bottom: 24px;
}

.whole-width {
  max-width: none;
  width: 95%;
}

.month-select {
  color: var(--netflix-red);
}

.month-select i {
  font-size: 38px;
}

.nowrap {
  white-space: nowrap;
}